body {
    display: flex;
    justify-content: center;
}

html {
    scroll-behavior: smooth;
}

#root {
    width: 60%;
}

@media (max-width: 770px) {
    #root {
        width: 80%;
    }
}


@media (max-width: 550px) {
    #root {
        width: 90%;
    }
}